.container-page {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.left-page {
    /* background-color: green; */
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.right-page {
    /* background-color: red; */
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.first-right-page {
    flex-direction: column;
}

#first-right-page-text {
    border-bottom: 2px solid salmon;
}

#first-right-page-tujuan {
    height: 30px;
    width: auto;
}

#front-image {
    height: 75%;
    width: auto;
}

.second-right-page {
    flex-direction: column;
}

.second-right-page img { 
    border-radius: 50%;
    width: 80%;
    height: auto;
}

.foto-pria {
    height: 160px;
    width: 400px;
    /* background-color: sienna; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#foto-pria-left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foto-pria-right {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foto-wanita {
    height: 160px;
    width: 400px;
    /* background-color: sienna; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#foto-wanita-left {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#foto-wanita-right {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-left-page {
    display: flex;
    flex-direction: column;
}

#akad-nikah-header, #resepsi-header {
    font-size: 24px;
    margin-bottom: 5px;
}

.resepsi {
    margin-top: 25px;
}

.third-right-page {
    display: flex;
    flex-direction: column;
}

.third-right-page iframe {
    width: 90%;
    -webkit-border-radius: 10px;
    z-index: 0;
    height: 60vh;
}

.fourth-page-header, .fifth-page-header {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}

.fourth-page-slideshow, .fifth-page-video {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    width: 65%;
}

.fifth-page-video iframe {
    height: 90%;
    width: 60%;
}

.sixth-left-page iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 500px;
}

.sixth-right-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#bliis-logo img {
    height: 16px;
    width: 24px;
    margin-bottom: 6px;
}

#freepik {
    font-size: 12px;
}

#freepik a {
    text-decoration: none;
    color: salmon;
}

#bookblock-footer {
    font-size: 12px;
}

#bookblock-footer a {
    text-decoration: none;
    color: salmon;
}

@media (max-width: 992px) { 

    .first-left-page {
        /* background-color: green; */
        width: 100%;
        height: 75%;
    }
    
    .first-right-page {
        /* background-color: red; */
        width: 100%;
        height: 25%;
    }

    #front-image {
        /* margin-top: 5%; */
        height: 80%;
        width: auto;
    }

    .second-left-page {
        width: 100%;
        height: 25%;
    }

    .second-right-page {
        width: 100%;
        height: 75%;
    }

    .third-left-page {
        width: 100%;
        height: 45%;
    }

    .third-right-page {
        width: 100%;
        height: 55%;
    }

    .third-right-page iframe {
        width: 90%;
        height: 250px;
    }

    .fourth-page-header, .fifth-page-header {
        height: 30%;
    }

    .fourth-page-slideshow, .fifth-page-video {
        height: 70%;
    }
    
    .carousel-inner {
        width: 95%;
    }

    .fifth-page-video iframe {
        height: 55%;
        width: 90%;
    }

    .fifth-left-page {
        width: 100%;
        height: 80%;
    }

    .fifth-right-page {
        width: 100%;
        height: 20%;
    }

    .sixth-left-page {
        width: 100%;
        height: 90%;
    }

    .sixth-right-page {
        width: 100%;
        height: 10%;
        margin-top: -30px;
    }
}