.container-page {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.left-page {
    /* background-color: green; */
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.right-page {
    /* background-color: red; */
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.first-left-page {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
}

.tujuan-alamat {
    font-size: 24px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.front-image img {
    height: 60vh;
    width: auto;
}

.right-bottom img {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 10vw;
}

.right-top img {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10vw;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.left-top img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 10vw;
    -webkit-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
}

.left-bottom img {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 10vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.second-left-page {
    font-family: 'Caveat', cursive;
    font-size: 24px;
}

.second-left-page span {
    font-size: 16px;;
}

.second-right-page {
    flex-direction: column;
}

.second-right-page img { 
    border-radius: 50%;
    width: 80%;
    height: auto;
}

.foto-pria {
    height: 160px;
    width: 400px;
    /* background-color: sienna; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#foto-pria-left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foto-pria-right {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foto-wanita {
    height: 160px;
    width: 400px;
    /* background-color: sienna; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#foto-wanita-left {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#foto-wanita-right {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-left-page {
    display: flex;
    flex-direction: column;
}

.akad-nikah {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#akad-nikah-header, #resepsi-header {
    font-size: 24px;
    margin-bottom: 5px;
    font-family: 'Caveat', cursive;
}

.resepsi {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
}

#akad-nikah-date, #akad-nikah-time, #akad-nikah-place, #resepsi-date, #resepsi-time, #resepsi-place {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 60%;
}

#icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
}

#deskripsi-text {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 88%;
    text-align: left;
}

.third-right-page {
    display: flex;
    flex-direction: column;
}

.third-right-page iframe {
    width: 90%;
    -webkit-border-radius: 10px;
    z-index: 0;
    height: 60vh;
}

.fourth-page-header, .fifth-page-header {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
}

.fourth-page-slideshow, .fifth-page-video {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    width: 65%;
}

.carousel-item img {
    max-width: 1043px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fa8072' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fa8072' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.fifth-page-video iframe {
    height: 90%;
    width: 60%;
}

.sixth-left-page iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 500px;
}

.sixth-right-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#bliis-logo {
    font-size: 18px;
    margin-bottom: 10px;
}

#bliis-logo img {
    height: 16px;
    width: 28px;
    margin-bottom: 6px;
}

#freepik {
    font-size: 12px;
}

#freepik a {
    text-decoration: none;
    color: salmon;
}

#bookblock-footer {
    font-size: 12px;
}

#bookblock-footer a {
    text-decoration: none;
    color: #fa8072;
}

@media (max-width: 992px) { 

    .front-image img {
        height: auto;
        width: 80vw;
    }

    .tujuan-alamat {
        font-size: 18px;
    }

    .second-left-page {
        width: 100%;
        height: 25%;
        font-size: 22px;
    }

    .second-left-page span {
        font-size: 18px;;
    }

    .second-right-page {
        width: 100%;
        height: 75%;
    }

    .third-left-page {
        width: 100%;
        height: 45%;
    }

    #akad-nikah-date, #akad-nikah-time, #akad-nikah-place, #resepsi-date, #resepsi-time, #resepsi-place {
        width: 90%;
    }

    .third-right-page {
        width: 100%;
        height: 55%;
    }

    .third-right-page iframe {
        width: 90%;
        height: 250px;
    }

    .fourth-page-header, .fifth-page-header {
        height: 20%;
    }

    .fourth-page-slideshow, .fifth-page-video {
        height: 80%;
        margin-top: -100px;
    }
    
    .carousel-inner {
        width: 95%;
    }

    .fifth-page-video iframe {
        height: 60%;
        width: 95%;
    }

    .fifth-left-page {
        width: 100%;
        height: 80%;
    }

    .fifth-right-page {
        width: 100%;
        height: 20%;
    }

    .sixth-left-page {
        width: 100%;
        height: 90%;
    }

    .sixth-right-page {
        width: 100%;
        height: 10%;
        margin-top: -30px;
    }
}

@media (max-height: 750px) { 

    #foto-pria-left img {
        margin-left: 20px;
    }

    #foto-wanita-right img {
        margin-right: 20px;
    }

    .resepsi {
        margin-top: 10px;
    }

}